* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#superga {
    padding-bottom: 250px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#tommy {
    padding-bottom: 250px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#allstar {
    padding-bottom: 250px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: #008000;
}

.bg-yellow {
    background-color: #FDFF00;
}

.box {
    width: 100%;
    height: 100vh;
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    padding-top: 400px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.yellow {
    color: #FDFF00;
}

.green {
    color: #008000;
}